
ol{
  padding: 0;
}

.title {
  font-family: 'Courier New', Courier, monospace;
  font-size: 28px;
}
li{
  display: flex;
    font-family: 'Courier New', Courier, monospace;
font-size: 14px;
}
.formLabel {
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
  margin: 10px 0 5px 0px;
}


.input {
  width: 50%;
  margin-bottom: 20px;
  border: 1px solid #a2a2a2;
}
.input::placeholder {
  font-family: 'Courier New', Courier, monospace;
}

.wrapper{
    display: flex;
flex-direction: column;    
}


.btn {
  font-family: 'Courier New', Courier, monospace;
  margin: 30px 0px;
  width: fit-content;
  padding: 5px 10px;
  align-items: center;
  border: 1px solid #a2a2a2;
  border-radius: 5px;
  cursor: pointer;
}
.btn:hover {
  background-color: rgb(146, 152, 162);
  color: aliceblue;
}

.btnDelete {
  
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
  margin-left: 10px;
  padding: 4px 10px 1px;
  border: 1px solid #a2a2a2;
  border-radius: 5px;
  cursor: pointer;
  
}
.btnDelete:hover {
  /* background-color: rgb(146, 152, 162); */
  color: aliceblue;
    box-shadow: 1px 1px 3px 2px #8c8585;

}

.customList {
/* List-style-type: none; */
  min-height: 340px;

  
}

.customList li{
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
justify-content: space-between;
}

.listWrapper{
    max-width: 170px;
 
}

.span{
  display: flex;
  justify-content: space-between;
}
.name{
  width: 190px;
/* padding: 0 20px; */
}
.phone{
/* padding: 0 20px; */
}