/* .App {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 18px;
    color: #010101;
} */
.container {
  width: 350px;
  display: flex;
  flex-direction: column;
  padding: 10px 40px;
  background-color: rgb(228, 226, 226);
  border: 1px solid #2a2a2a;
  border-radius: 5px;
}
.title {
  /* margin-left: 40px; */
  font-family: 'Courier New', Courier, monospace;
  font-size: 28px;
}

.formLabel {
  padding-right: 20px;
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
  /* margin: 10px 0 5px 0px; */
}

.input {
  padding: 5px;
  max-width: 200px;
  border: none;
  /* margin-left: 40px; */
  margin-bottom: 20px;
  border: 1px solid #a2a2a2;
  border-radius: 5px;

  /* border: 1px solid #ccc;
  padding: 8px; */
  transition: border-color 0.3s ease-in-out;
}


.input:valid {
  border-color: rgb(174, 182, 174);
  outline: none;
}

.input:focus:invalid {
  border-color: rgb(210, 117, 64);
    outline: none;

}

.input::placeholder {
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
}

.wrapperNumber,
.wrapperName {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.wrapper {
  display: flex;
  flex-direction: column;
  
}

.btn {
  font-family: 'Courier New', Courier, monospace;
  /* margin: 30px 0px; */
  margin-left: auto;
  width: fit-content;
  padding: 5px 47px;
  align-items: center;
  /* border: 1px solid #a2a2a2; */
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 5px 4px #c5c3c3;
  border: none;
  background-color: #e5e4e4;
  margin-bottom: 100px;
}
.btn:hover {
  background-color: rgb(146, 152, 162);
  color: aliceblue;
}
