.navbar{
    padding: 8px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    background-color: rgb(189, 189, 185);
    
}

.menu{
    display: flex;
     justify-content: flex-end;
    align-items: center
}
