.menu{
     list-style: none;
     display: flex;
     /* justify-content: flex-end; */

}

.nav{
    display: flex;
}
.link{
    text-decoration: none;
    padding: 15px 30px;
    color: #000;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.link:global(.active){
    color: rgb(102, 132, 185);
    text-decoration: underline;
}
.link:hover{
    color:#8e92cd ;
}