.menu{
     list-style: none;
     display: flex;
     justify-content: center;
     gap: 30px

}

.nav{
    display: flex;
}
.link{
    display: flex;
    text-decoration: none;
    /* padding: 5px 10px; */
    margin-right: 20px;
    color: #000;
    font-size: 18px;
    /* font-weight: bold; */
    font-family:'Courier New', Courier, monospace;
}

.link:global(.active){
    color: rgb(102, 132, 185);
    /* text-decoration: underline; */
}
.link:hover{
    color:#8e92cd ;
}